
body { 
  margin: 0 !important;
  padding: 0 !important;
  width: max-content;
  background: #093254;
  border: 5px solid #587c91;
}

a, p, select, h1{
  display: inline-block;
  color: #b2e4f6;
  appearance: none;
  overflow-y: auto;
  border:0px;
  outline:0px;
}

p {
  margin: 5px;
}

a {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}

a:hover {
  cursor: pointer;
}

#header {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
  border-bottom: 5px solid #587c91;
}

#header-logo {
  margin-right: 10px; /* Adds some space between the logo and the title */
  margin-left: 4px;
}

#header-title h1 {
  margin: 0; /* Removes the default margin of h1 for better alignment */
  font-size: 20px; /* Adjust the font size as needed */
}

#primary-container {
  margin: 3px;
}