button {
  height: 30px;
  width: 30px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

body { 
  margin: 0 !important;
  padding: 0 !important;
  width: max-content;
}

a, p{
  color:aqua;
  appearance: none;
  overflow-y: auto;
  border:0px;
  outline:0px;
  background: transparent;
  padding: 5px;
}

a:hover {
  cursor: pointer;
}

.rainbow-box {
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: auto;
  margin: auto;
  width: auto;
}
