
body { 
  margin: 0 !important;
  padding: 0 !important;
  width: max-content;
}

a, p, select{
  display: inline-block;
  color: aqua;
  appearance: none;
  overflow-y: auto;
  border:0px;
  outline:0px;
  background: transparent;
}

p {
  margin: 5px;
}

a {
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
}

a:hover {
  cursor: pointer;
}

.rainbow-box {
  background-color: #302244;
  border: 5px solid transparent;
  border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
  border-image-slice: 1;
  height: auto;
  margin: auto;
}
